# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/

# Ignore environment variables
.env

# Ignore Mac and Linux files
.DS_Store
*.swp

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Truffle configuration cache
.truffle/

# Ignore VSCode settings
.vscode/
